extends /layouts/layout.pug

block header
  if session.loggedin
    h1 Welcome, #{session.name}
  else
    h1 Welcome!

block content
  if session.loggedin
    a(href="/profile")
      h2 Profile
    a(href="/logout")
      h2 Logout
  else
    p Howdy stranger!
    a.link(href="/login")
      p Login
    a.link(href="/signup")
      p Sign up

  br
  h3 A Link for cool people!
  a.link(href="/coolpage")
    p Link
