doctype html
html
  head
    title Registration Demo
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")
    style
      include fonts.css
      include style.css
  body
    header
      div#h_left
        a.logo(href="/") <span>🤩</span>
      div#h_center
        block header
      div#h_right
    section#content
      block content
    footer
      p A user-registration demo by <a href="https://github.com/sondregronas">Sondre Grønås</a>
