extends layout.pug

block header
  h1 Login
block content
  form(action="/auth" method="post")
    label Username
    input(name="username" placeholder="Username" required)
    br
    label Password
    input(type="password" placeholder="Password" name="password" required)
    br
    input(type="submit" value="Login")
    br
    p Don't have an account? <a href="signup">Sign up by clicking here.</a>
